################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PMSDB.mdf
/PMSDB_log.ldf
/Project_Management_System/.vs/Project_Management_System
/PMSDB_log.ldf
/PMSDB.mdf
/PMSDB.mdf
/PMSDB_log.ldf
/Project_Management_System/PMSDB.mdf
/Project_Management_System/PMSDB.mdf
/Project_Management_System/PMSDB.mdf
